.App {
  text-align: left;
  margin: 1.5rem;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7ea24d;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  padding: 0.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
}

.nav-link.active {
  color: #040300fa !important;
  background: rgb(106, 97, 143) !important;
}

h1 {
  text-align: center;
}

p {
  font-size: large;
  padding: 0.5rem;
}

.FooterLinks {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:white;
}

.col {
  padding: 0.5rem;
  color: black;
}

.container, .Projects {
  background-color:rgb(191, 191, 112);
  padding-bottom: 5rem;
}

.about {
  margin: 0 !important;
}

.project__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5%;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

.footer-menu {
  display: flex;
  column-gap: 10px;
  justify-content: center;

}

.buttonSize {
  margin-left: 8px;
}

.bg-secondary {
  margin: 0.5rem;
}